@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BioRhyme";
  src: url("/fonts/BioRhyme-Variable.ttf");
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "RobotoFlex";
  src: url("/fonts/RobotoFlex-Variable.ttf");
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "RogueScript";
  font-weight: 400;
  src: url("/fonts/RougeScript-Regular.ttf");
  unicode-range: U+0000-00FF;
}

:root.pause-transitions *,
:root.pause-transitions *::before,
:root.pause-transitions *::after {
  transition: none !important;
}

:root {
  --header-bg: theme("colors.white / 0.75");
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-bg: theme("colors.zinc.900 / 0.75");
  }
}
